@model RestaurantsCreateVM

@{
    ViewBag.Title = "Lägg till restaurang";
    ViewBag.H1 = "Lägg till restaurang";
}

<form asp-action="Create">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>

    <br /><br />

    <label asp-for="FoodType"></label>
    <select asp-for="FoodType"
            asp-items="Model.FoodTypeItems"></select>
    <span asp-validation-for="FoodType"></span>

    <br /><br />

    <label asp-for="Country"></label>
    <input asp-for="Country" />
    <span asp-validation-for="Country"></span>

    <br /><br />

    <label asp-for="City"></label>
    <input asp-for="City" />
    <span asp-validation-for="City"></span>

    <br /><br />

    <label asp-for="Street"></label>
    <input asp-for="Street" />
    <span asp-validation-for="Street"></span>

    <br /><br />

    <label asp-for="PhoneNumber"></label>
    <input asp-for="PhoneNumber" />
    <span asp-validation-for="PhoneNumber"></span>
    
    <br /><br />

    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span>

    <br /><br />

    <label asp-for="WebbPage"></label>
    <input asp-for="WebbPage" />
    <span asp-validation-for="WebbPage"></span>

    <br /><br />

    <label asp-for="PriceRange"></label>
    <input asp-for="PriceRange" />
    <span asp-validation-for="PriceRange"></span>

    <br /><br />

    <input type="Submit" value="Lägg till" />
</form>